.container{
    padding: 10px;
    opacity: 0.8;
    width: 200%;
    align-content: space-around;
}
.row{
    padding: 10px;
    max-width:100%;
    margin-left:auto;
    margin-right: auto;
}
.logo {object-fit: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 6px 0 0 25px;
    align-items: center;
}
@media only screen and (min-width: 750px) {
{
    display: grid;
}
}
