.container{
    padding: 10px;
    opacity: 0.8;
    width: 200%;
    align-content: space-around;
}
.row{
    padding: 10px;
    max-width:100%;
    margin-left:auto;
    margin-right: auto;
}
.logo {
    border-radius: 50%;
    border: solid 4px #224e22;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
@media only screen and (min-width: 750px) {
{
    display: grid;
}
}
