/* -----import FONT------- */
@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700&display=swap");
@import "./AuthPage.css";
/* -----Variables CSS------- */
:root {
    --header-height: 3rem;
    --first-color-alt: #648743;
    --first-color-alt-dark: rgb(63, 17, 31);
    --text-color: #3a2d2d;

    /* Font */
    --font: "BioRhyme", serif;
    --normal-font-size: 0.938rem;
}

/* ----- GENERAL ------- */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.design{
    font-family: var(--font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin: var(--header-height) 0 0 0;
    line-height: 1.6;
}

/* ------ Button ------- */

.button {
    display: inline-block;
    padding: 0.75rem 1rem;
    background-color:var(--first-color-alt-dark);
    color: #ffffff;
    border-radius: 0.5rem;
    text-align: center;
}

.button:hover {
    background-color: var(--first-color-alt);;
}

. {
    text-align: center;
}




